:root {
    --main-color: #ff9e3d;
    --sub-color: #006DCC60;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: black    1px;
    font-family: Arial, Helvetica, sans-serif;
}

input, button {
    color: inherit
}

input[type=text], input[type=date], select, textarea {
    padding: 10px;
    border-radius: 20px;
    border: solid var(--sub-color) 2px;
}

input[type=image] {
    max-block-size: 2.5rem;
    justify-self: center;
    align-self: center;
}

form button {
    padding: 1rem;
    border-radius: 20px;
}

input[type=image]:hover {
    filter: invert(98%) sepia(29%) saturate(6764%) hue-rotate(312deg) brightness(101%) contrast(101%);
}

input:hover,
button:hover,
.taskTitle:hover,
textarea:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.createProjectPopUpContainer {
    display: none;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 40%;
    right: 30%;
}

#createProjectForm {
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 3px grey;
}

.createTaskPopUpContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 40%;
    right: 20%;
}


#createTaskForm {
    padding: 2rem;
    background-color: var(--main-color);
    border-radius: 20px;
    display: flex;
    gap: 3px;
    flex-direction: column;

}

.confirm, .cancel {
    box-shadow: 0px 5px 3px black;
    font-weight: 600;
    letter-spacing: 1px;
}

.confirm {
    background-color: #77DD77;
}

.cancel {
    background-color: #FF2E2E;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 12fr 1fr;
    grid-template-areas: 'header'
                         'main'
                         'footer';
}

.header {
    background-color: var(--main-color);
    grid-area: header;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: x-large;
    box-shadow: 0px 5px 3px grey;
}

.logo {
    width: 4rem;
}

.main {
    overflow: scroll;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.projects {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    background-color: var(--sub-color);
    color: white;
    box-shadow: 1px 0px 5px grey;
}


.mainContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newProject {
    padding: 1rem;
    background: none;
    font-size: large;
    border: none;
    font-weight: 700;
    text-shadow: grey 1px 0 10px;;
}

h3 {
    align-self: center;
    font-size: x-large;
    text-decoration: underline;
}

.createButtonContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#createProject {
    align-self: flex-start;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.deleteProject {
    max-width: 25px;

}

.newProject {
    width: 100%;
}

.deleteProject {
    width: 20%;
}

.tasksContainer {
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-rows: 2rem 2rem 3rem;
    grid-auto-rows: 3rem;
    gap: 1rem;
    overflow: scroll;
}

.currentProject {
    letter-spacing: 1px;
}

.task {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 0.5fr 0.5fr;
    max-height: 3rem;
    border: solid black 1px;
    border-radius: 30px;
    padding: 3px;
}

.taskTitle,
.taskDate {
    font-size: clamp(1rem, 2vw, 3vw);
    align-self: center;
    justify-self: center;
}

#taskPriorityBtn.low {
    filter: invert(77%) sepia(59%) saturate(395%) hue-rotate(63deg) brightness(110%) contrast(100%);
}

#taskPriorityBtn.medium {
    filter: invert(99%) sepia(86%) saturate(910%) hue-rotate(343deg) brightness(107%) contrast(107%);
}

#taskPriorityBtn.high {
    filter: invert(68%) sepia(86%) saturate(4411%) hue-rotate(324deg) brightness(98%) contrast(103%);
}


.myDropDown {
    position: relative;
}

#dropDown {
    display: none;
    position: absolute;
    z-index: 1;
}

.taskInfoContainer {
    display: none;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    top: 40%;
    left: 40%;
    right: 20%;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: grey solid 1px;
}